body {
    margin: 0;
}
/* 头部样式 */

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
/* 创建三个相等的列 */

.column {
    float: left;
    width: 50%;
    text-align: center;
}

.column_all {
    background-color: blue;
    padding: 20px;
}

.row {
    height: 70%
}
/* 列后清除浮动 */

.row:after {
    content: "";
    display: table;
    clear: both;
}
.updatepass{
    border: 1px solid #000000;
    background: #aaaaaa;
    display: none;
}