<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcby.dao.LoginDao">
    <select id="login" parameterType="com.qcby.entity.Login" resultType="com.qcby.entity.Login">
    select * from Login where account = #{account} and password = #{password}
</select>
    <insert id="insert" parameterType="com.qcby.entity.Login">
        insert into Login(account,password,sex,phone,imgurl,age,signature,username) values(#{account},#{password},#{sex},#{phone},#{imgurl},#{age},#{signature},#{username})
    </insert>
    <update id="update" parameterType="com.qcby.entity.Login">
        update Login set password = #{password} where account = #{account}
    </update>
    <update id="update1" parameterType="com.qcby.entity.Login">
        update Login set imgurl = #{imgurl} where id = #{id}
    </update>

    <select id="findUser" parameterType="com.qcby.entity.Login" resultType="com.qcby.entity.Login">
        select * from Login where account=#{account}
    </select>
    <select id="findF" parameterType="com.qcby.entity.Login" resultType="com.qcby.entity.Login">
        select * from Login where phone=#{phone} and account=#{account}
    </select>





</mapper>